<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/bolt.ico" rel="icon">

  <title>Works</title>

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./works.html" title="">02 : Works</a></li>
          <li><a href="./about.html" title="">03 : About me</a></li>
          <li><a href="./contact.html" title="">04 : Contact</a></li>
        </ul>


      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
  <div class="container">
    <div class="row">
      
      <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
        <div class="text-center">
          <h1 class="h2">02 : Works</h1>
          <p>I created a number of Python projects as a student of The App Brewery and Zero To Mastery.
            These include Ethical Hacking Tools, Games, GUIs, and Web Apps.
           You can see some of them below.</p>
        </div>
      </div>

      <div class="col-md-12">
     
      <div id="myCarousel" class="carousel slide projects-carousel">
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="row">
                    <div class="col-sm-4">

                      <a href="./work.html" title="" class="black-image-project-hover">
                        <img src="./static/assets/images/work01-hover.jpg" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>001/006</h4>
                        <h3>Backdoor</h3>
                        <p>A backdoor program that works with a server program that lets the user control a target machine.
                          The backdoor program can: send data & receive data, connect to a specific Kali Linux machine over a specific port number, upload & download files, and receive commands from the user.
                          The server program can: send & receive data, upload & download files, and send user commands to the backdoor program on a target computer.</p>
                        <a href="https://github.com/XanderFR/Backdoor" title="" class="btn btn-default">Discover</a>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <a href="./work.html" title="" class="black-image-project-hover">
                        <img src="./static/assets/images/work02-hover.jpg" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>002/006</h4>
                        <h3>SnakeGame</h3>
                        <p>A version of the Snake game.
                          The player starts off with a small snake which grows longer as it "eats" food pellets that appear in random locations on the game screen.
                          The player's objective is to "eat" food pellets to increase their score and lengthen their snake while avoiding collisions with the walls and segments of the snake's tail.</p>
                        <a href="https://github.com/XanderFR/SnakeGame" title="" class="btn btn-default">Discover</a>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <a href="./work.html" title="" class="black-image-project-hover">
                        <img src="./static/assets/images/work03-hover.jpg" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>003/006</h4>
                        <h3>PongGame</h3>
                        <p>A version of the classic game Pong.
                          The game features a gold colored ball, a red-colored paddle on the left side of the screen that's controlled by the "w" and "s" keys, and a blue-colored paddle on the right side of the screen that's controlled by the "up" and "down" keys, and a scoreboard.
                          The objective of the game is to be the first to get 5 points.</p>
                        <a href="https://github.com/XanderFR/PongGame" title="" class="btn btn-default">Discover</a>
                      </div>
                    </div>
                    
                </div>
                <!--/row-->
            </div>
            <!--/item-->
            <div class="item">
                <div class="row">
                  <div class="col-sm-4">
                    <a href="./work.html" class="black-image-project-hover">
                      <img src="./static/assets/images/work02-hover.jpg" alt="Image" class="img-responsive">
                    </a>
                    <div class="card-container">
                      <h4>004/006</h4>
                      <h3>GUIQuizApp</h3>
                      <p>A trivia quiz game GUI app that presents 10 true or false questions taken from the Open Trivia Database API.
                        The user answers questions by clicking on a green "True" button or a red "False" button.
                        The app then shows a flash of green or red depending on whether the user answered correctly.
                        The app tracks of the number of correct answers through a scoreboard and lets the user know when there are no more questions.</p>
                      <a href="https://github.com/XanderFR/GUIQuizApp" class="btn btn-default">Discover</a>
                    </div>
                  </div>
                   <div class="col-sm-4">
                      <a href="./work.html" class="black-image-project-hover">
                        <img src="./static/assets/images/work01-hover.jpg" alt="Image" class="img-responsive">
                      </a>
                      <div class="card-container">
                        <h4>005/006</h4>
                        <h3>FlashCardApp</h3>
                        <p>A GUI app that presents flash cards with French and English words on them.
                          French words are shown first.
                          If the user doesn't know a word's meaning, the English translation will appear after three seconds.
                          The user can click a red button if they don't know the answer and get a new French word card.
                          If the user does know the word, clicking the green button will remove it from the list of French words and then present a new card.</p>
                        <a href="https://github.com/XanderFR/FlashCardApp" class="btn btn-default">Discover</a>
                      </div>
                    </div>
                    
                    <div class="col-sm-4">
                      <a href="./work.html" class="black-image-project-hover">
                        <img src="./static/assets/images/work03-hover.jpg" alt="Image" class="img-responsive">
                      </a>
                      <div class="card-container">
                        <h4>006/006</h4>
                        <h3>TurtleCrossing</h3>
                        <p>A game where the player has to get a turtle from one side of the street to another while avoiding oncoming cars.
                          Every time the player successfully clears a level, the speed of the cars increase, thereby increasing the challenge of the game.</p>
                        <a href="https://github.com/XanderFR/TurtleCrossing" class="btn btn-default">Discover</a>
                      </div>
                    </div>
                    
                </div>
                <!--/row-->
            </div>
            
            <!--/item-->
        </div>
        <!--/carousel-inner--> 
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>

        <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
     </div>



    <!--/myCarousel-->
    </div>



    </div>
  </div>
</div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>© UNTITLED | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>